table {
 Width: 410px;
 }
th { 
 Width: 100px;
 Height: 40px;
 Background: #00FF00;
 Border: 1px solid #F00
}
td { 
 Width: 100px;
 Height: 40px;
 Background: #00FFFF;
 Border: 1px solid #F00
}
table, th, tr, td{
 Border-collapse: collapse
} 
